{% extends 'base.html' %}

{% block titulo %}
    Pesquisar EPI
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h3>Pesquisar EPI</h3>
                </div>
                <div class="card-body">
                    <form method="get">
                        <div class="mb-3">
                            <label for="nome" class="form-label">Nome do EPI</label>
                            <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome do EPI" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
